@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,600,800,300);
/* line 5, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* line 1, ../sass/common/_4common.scss */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  text-rendering: optimizeLegibility;
  text-rendering: geometricPrecision;
  font-smooth: always;
  font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 16, ../sass/common/_4common.scss */
* a {
  text-decoration: none;
  color: #34495e;
}

/* line 20, ../sass/common/_4common.scss */
img {
  display: block;
}

/* line 24, ../sass/common/_4common.scss */
:focus {
  outline: none;
}

/* line 25, ../sass/common/_4common.scss */
button::-moz-focus-inner {
  border: 0;
}

/* line 28, ../sass/common/_4common.scss */
input {
  outline-color: transparent;
  box-shadow: 0px 0px 0px #888888;
}

/* line 34, ../sass/common/_4common.scss */
#about_us i, #about_us .content, #service .content, #contact .content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

/* line 42, ../sass/common/_4common.scss */
.content__info__wrapper--full:after, .content__info__wrapper--full--no-padding:after {
  content: "";
  display: table;
  clear: both;
}

/* line 48, ../sass/common/_4common.scss */
.clear {
  clear: both;
}

/* line 51, ../sass/common/_4common.scss */
.clear--none {
  clear: none !important;
}

/* line 56, ../sass/common/_4common.scss */
.underline {
  text-decoration: underline;
}

/* line 57, ../sass/common/_4common.scss */
.uppercase {
  text-transform: uppercase;
}

/* line 60, ../sass/common/_4common.scss */
.float--right {
  float: right;
}

/* line 61, ../sass/common/_4common.scss */
.float--left {
  float: left;
}

/* line 62, ../sass/common/_4common.scss */
.float--none {
  float: none;
}

/* line 65, ../sass/common/_4common.scss */
.float--right--imp {
  float: right !important;
}

/* line 66, ../sass/common/_4common.scss */
.float--left--imp {
  float: left !important;
}

/* line 67, ../sass/common/_4common.scss */
.float--none--imp {
  float: none !important;
}

/* line 70, ../sass/common/_4common.scss */
.font__align--center {
  text-align: center;
}

/* line 71, ../sass/common/_4common.scss */
.font__align--left {
  text-align: left;
}

/* line 72, ../sass/common/_4common.scss */
.font__align--right {
  text-align: right;
}

/* line 75, ../sass/common/_4common.scss */
.font__weight--100 {
  font-weight: 100;
}

/* line 76, ../sass/common/_4common.scss */
.font__weight--300 {
  font-weight: 300;
}

/* line 77, ../sass/common/_4common.scss */
.font__weight--400 {
  font-weight: 400;
}

/* line 78, ../sass/common/_4common.scss */
.font__weight--700 {
  font-weight: 700;
}

/* line 79, ../sass/common/_4common.scss */
.font__weight--900 {
  font-weight: 900;
}

/* line 82, ../sass/common/_4common.scss */
.text__align--left {
  text-align: left;
}

/* line 85, ../sass/common/_4common.scss */
.text__align--right {
  text-align: right;
}

/* line 88, ../sass/common/_4common.scss */
.text__align--center {
  text-align: center;
}

/* line 91, ../sass/common/_4common.scss */
.text__align--justify {
  text-align: justify;
}

/* line 97, ../sass/common/_4common.scss */
.margin--zero {
  margin: 0;
}

/* line 98, ../sass/common/_4common.scss */
.margin__left--3 {
  margin-left: 3px;
}

/* line 99, ../sass/common/_4common.scss */
.margin__top--4 {
  margin-top: 4px;
}

/* line 100, ../sass/common/_4common.scss */
.margin__auto--top0 {
  margin: 0 auto;
}

/* line 101, ../sass/common/_4common.scss */
.margin__top--30 {
  margin-top: 30px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--0 {
  margin-top: 0px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--6 {
  margin-top: 6px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--12 {
  margin-top: 12px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--18 {
  margin-top: 18px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--24 {
  margin-top: 24px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--30 {
  margin-top: 30px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--36 {
  margin-top: 36px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--42 {
  margin-top: 42px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--48 {
  margin-top: 48px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--54 {
  margin-top: 54px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__top--60 {
  margin-top: 60px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--0 {
  margin-bottom: 0px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--6 {
  margin-bottom: 6px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--12 {
  margin-bottom: 12px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--18 {
  margin-bottom: 18px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--24 {
  margin-bottom: 24px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--30 {
  margin-bottom: 30px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--36 {
  margin-bottom: 36px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--42 {
  margin-bottom: 42px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--48 {
  margin-bottom: 48px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--54 {
  margin-bottom: 54px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__bottom--60 {
  margin-bottom: 60px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--0 {
  margin-left: 0px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--6 {
  margin-left: 6px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--12 {
  margin-left: 12px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--18 {
  margin-left: 18px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--24 {
  margin-left: 24px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--30 {
  margin-left: 30px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--36 {
  margin-left: 36px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--42 {
  margin-left: 42px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--48 {
  margin-left: 48px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--54 {
  margin-left: 54px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__left--60 {
  margin-left: 60px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--0 {
  margin-right: 0px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--6 {
  margin-right: 6px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--12 {
  margin-right: 12px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--18 {
  margin-right: 18px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--24 {
  margin-right: 24px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--30 {
  margin-right: 30px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--36 {
  margin-right: 36px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--42 {
  margin-right: 42px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--48 {
  margin-right: 48px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--54 {
  margin-right: 54px;
}

/* line 105, ../sass/common/_4common.scss */
.margin__right--60 {
  margin-right: 60px;
}

/* line 115, ../sass/common/_4common.scss */
.padding__right--30 {
  padding-right: 30px;
}

/* line 118, ../sass/common/_4common.scss */
.padding__top--60 {
  padding-top: 60px;
}

/* line 121, ../sass/common/_4common.scss */
.padding__top--30 {
  padding-top: 30px;
}

/* line 124, ../sass/common/_4common.scss */
.padding__bottom--60 {
  padding-bottom: 60px;
}

/* line 127, ../sass/common/_4common.scss */
.padding__bottom--30 {
  padding-bottom: 30px;
}

/* line 130, ../sass/common/_4common.scss */
.padding__bottom--12 {
  padding-bottom: 12px;
}

/* line 133, ../sass/common/_4common.scss */
.pdding__all--zero {
  padding: 0;
}

/* line 136, ../sass/common/_4common.scss */
.padding__point25 {
  padding: 1% 3%;
  width: 94%;
}

/* line 141, ../sass/common/_4common.scss */
.courser--no {
  cursor: text;
}

/* line 146, ../sass/common/_4common.scss */
.font__size--head-mobile {
  font-size: 24px;
  line-height: 40px;
}

/* line 150, ../sass/common/_4common.scss */
.font__size--250px {
  font-size: 250px;
}

/* line 154, ../sass/common/_4common.scss */
.line__height--105em {
  line-height: 1.5em;
}

/* line 157, ../sass/common/_4common.scss */
.line__height--1em {
  line-height: 1em;
}

/* line 162, ../sass/common/_4common.scss */
.font__color--white {
  color: #ffffff;
}

/* line 165, ../sass/common/_4common.scss */
.font__color--red {
  color: #eb5255;
}

/* line 168, ../sass/common/_4common.scss */
.font__color--dark-blue {
  color: #34495e;
}

/* line 171, ../sass/common/_4common.scss */
.font__color--light-blue {
  color: #91a3ad;
}

/* line 177, ../sass/common/_4common.scss */
.bg__color--red {
  background-color: #eb5255;
}

/* line 180, ../sass/common/_4common.scss */
.bg__color--drak-blue {
  background-color: #34495e;
}

/* line 183, ../sass/common/_4common.scss */
.bg__color--light-blue, #service {
  background-color: #e4ebf5;
}

/* line 190, ../sass/common/_4common.scss */
.display--block {
  display: block;
}

/* line 193, ../sass/common/_4common.scss */
.display--inblock {
  display: inline-block;
}

/* line 196, ../sass/common/_4common.scss */
.display--table {
  display: table;
}

/* line 199, ../sass/common/_4common.scss */
.display--table-cell {
  display: table-cell;
}

/* line 203, ../sass/common/_4common.scss */
.align__vertical--middle {
  vertical-align: middle;
}

/* line 207, ../sass/common/_4common.scss */
.position--relative {
  position: relative;
}

/* line 211, ../sass/common/_4common.scss */
.visibility--hidden {
  visibility: hidden;
}

/* line 215, ../sass/common/_4common.scss */
.border--bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 218, ../sass/common/_4common.scss */
.border--zero {
  border: 0px solid !important;
}

/* line 222, ../sass/common/_4common.scss */
.width__special--full {
  width: 100%;
}

/* line 225, ../sass/common/_4common.scss */
.width__special--half {
  width: 50%;
}

/* line 229, ../sass/common/_4common.scss */
.center_box {
  width: 90%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 85px;
}

@media screen and (min-width: 761px) {
  /* line 242, ../sass/common/_4common.scss */
  .display__deskptop--none {
    display: none !important;
  }

  /* line 245, ../sass/common/_4common.scss */
  .center_box {
    width: 50%;
  }
}
/* line 3, ../sass/common/_base_grid.scss */
.content__grid--940-center {
  *zoom: 1;
  width: auto;
  max-width: 940px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__grid--940-center:before, .content__grid--940-center:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__grid--940-center:after {
  clear: both;
}

/* line 6, ../sass/common/_base_grid.scss */
.content__grid--1100-center {
  *zoom: 1;
  width: auto;
  max-width: 1100px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
  padding: 0 2.5%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__grid--1100-center:before, .content__grid--1100-center:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__grid--1100-center:after {
  clear: both;
}

/* line 10, ../sass/common/_base_grid.scss */
.content__grid--full {
  *zoom: 1;
  width: auto;
  max-width: 100%;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__grid--full:before, .content__grid--full:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__grid--full:after {
  clear: both;
}

/* line 15, ../sass/common/_base_grid.scss */
.content__info__wrapper--full {
  width: 90%;
  padding: 5% 5%;
}

/* line 20, ../sass/common/_base_grid.scss */
.content__info__wrapper--full--no-padding {
  width: 100%;
}

/* line 25, ../sass/common/_base_grid.scss */
.content__info__wrapper--half {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 50%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half:before, .content__info__wrapper--half:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half:nth-of-type(2n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half:nth-of-type(2n + 1) {
  clear: both;
}

/* line 28, ../sass/common/_base_grid.scss */
.content__info__wrapper--half-with-gutter {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 47.5%;
  margin-left: 0%;
  margin-right: 5%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half-with-gutter:before, .content__info__wrapper--half-with-gutter:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half-with-gutter:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half-with-gutter:nth-of-type(2n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--half-with-gutter:nth-of-type(2n + 1) {
  clear: both;
}

/* line 32, ../sass/common/_base_grid.scss */
.content__info__wrapper--onethird {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 33.33333%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird:before, .content__info__wrapper--onethird:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird:nth-of-type(3n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird:nth-of-type(3n + 1) {
  clear: both;
}

/* line 35, ../sass/common/_base_grid.scss */
.content__info__wrapper--onethird-with-gutter {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 30.0%;
  margin-left: 0%;
  margin-right: 5%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird-with-gutter:before, .content__info__wrapper--onethird-with-gutter:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird-with-gutter:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird-with-gutter:nth-of-type(3n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--onethird-with-gutter:nth-of-type(3n + 1) {
  clear: both;
}

/* line 38, ../sass/common/_base_grid.scss */
.content__info__wrapper--twothird {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 66.66667%;
  margin-left: 0%;
  margin-right: 0%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird:before, .content__info__wrapper--twothird:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird:nth-of-type(3n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird:nth-of-type(3n + 1) {
  clear: both;
}

/* line 41, ../sass/common/_base_grid.scss */
.content__info__wrapper--twothird-with-gutter {
  *zoom: 1;
  float: left;
  clear: none;
  text-align: inherit;
  width: 65.0%;
  margin-left: 0%;
  margin-right: 5%;
}
/* line 344, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird-with-gutter:before, .content__info__wrapper--twothird-with-gutter:after {
  content: '';
  display: table;
}
/* line 349, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird-with-gutter:after {
  clear: both;
}
/* line 50, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird-with-gutter:nth-of-type(3n) {
  margin-right: 0%;
  float: right;
}
/* line 54, ../sass/vendor/jeet/_grid.scss */
.content__info__wrapper--twothird-with-gutter:nth-of-type(3n + 1) {
  clear: both;
}

/* line 4, ../sass/common/_button.scss */
button {
  width: auto;
  border: 0 none;
  margin: 0;
  padding: 0;
  background: transparent;
  overflow: visible;
  vertical-align: middle;
}

/* line 14, ../sass/common/_button.scss */
button, .button {
  font-size: 15px;
  line-height: 24px;
  padding: 6px 18px;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  text-align: center;
  display: inline-block;
  margin: 0;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition-property: transition-property-names(background, "webkit");
  -moz-transition-property: transition-property-names(background, "moz");
  transition-property: transition-property-names(background, false);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
  background-color: #eb5255;
  color: white;
}
/* line 35, ../sass/common/_button.scss */
button.width--full, .button.width--full {
  width: 100%;
}
/* line 36, ../sass/common/_button.scss */
button.width--full--no-padding, .button.width--full--no-padding {
  width: 100%;
  padding: 6px 0;
}
/* line 37, ../sass/common/_button.scss */
button.width--half, .button.width--half {
  width: 50%;
}

/* line 1, ../sass/common/_form-element.scss */
form {
  display: block;
  clear: both;
  float: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  margin: 0;
}
/* line 265, ../sass/vendor/jeet/_grid.scss */
form:first-child {
  margin-left: auto;
}
/* line 269, ../sass/vendor/jeet/_grid.scss */
form:last-child {
  margin-right: auto;
}
/* line 5, ../sass/common/_form-element.scss */
form > a {
  font-size: 14px;
  display: inline-block;
}

/* line 10, ../sass/common/_form-element.scss */
input {
  border: 0;
  box-shadow: 0px 0px 0px #fff;
}

/* line 14, ../sass/common/_form-element.scss */
label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  cursor: inherit;
  margin-bottom: 8px;
  color: #91a3ad;
  margin-top: 12px;
}

/* line 23, ../sass/common/_form-element.scss */
.input--text::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  color: #91a3ad;
}

/* line 29, ../sass/common/_form-element.scss */
.input--text::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  color: #91a3ad;
}

/* line 35, ../sass/common/_form-element.scss */
.input--text:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=password]:-moz-placeholder {
  color: #91a3ad;
}

/* line 41, ../sass/common/_form-element.scss */
.input--text:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  color: #91a3ad;
}

/* line 48, ../sass/common/_form-element.scss */
textarea {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: transparent;
  border: 1px solid #91a3ad;
  width: 100%;
}
/* line 56, ../sass/common/_form-element.scss */
textarea.width--full {
  width: 100%;
}
/* line 59, ../sass/common/_form-element.scss */
textarea.border__radius--no {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* line 66, ../sass/common/_form-element.scss */
.input--text,
input[type=text],
input[type=email],
input[type=password] {
  outline: 0;
  font-size: 14px;
  background-clip: padding-box;
  position: relative;
  padding: 9px 2%;
  width: 96%;
  border: 1px solid #91a3ad;
  background-color: transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -webkit-transition-property: transition-property-names(background, border, "webkit");
  -moz-transition-property: transition-property-names(background, border, "moz");
  transition-property: transition-property-names(background, border, false);
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder,
input[type=email]::-webkit-input-placeholder,
input[type=password]::-webkit-input-placeholder {
  font-size: 14px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text::-moz-placeholder,
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=password]::-moz-placeholder {
  font-size: 14px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text:-moz-placeholder,
input[type=text]:-moz-placeholder,
input[type=email]:-moz-placeholder,
input[type=password]:-moz-placeholder {
  font-size: 14px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text:-ms-input-placeholder,
input[type=text]:-ms-input-placeholder,
input[type=email]:-ms-input-placeholder,
input[type=password]:-ms-input-placeholder {
  font-size: 14px;
}
/* line 87, ../sass/common/_form-element.scss */
.input--text.width--small,
input[type=text].width--small,
input[type=email].width--small,
input[type=password].width--small {
  width: 92%;
  padding: 9px 4%;
}
/* line 91, ../sass/common/_form-element.scss */
.input--text.width--half,
input[type=text].width--half,
input[type=email].width--half,
input[type=password].width--half {
  width: 40%;
  float: left;
}
/* line 95, ../sass/common/_form-element.scss */
.input--text.border__radius--no,
input[type=text].border__radius--no,
input[type=email].border__radius--no,
input[type=password].border__radius--no {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text.font__size--12px::-webkit-input-placeholder,
input[type=text].font__size--12px::-webkit-input-placeholder,
input[type=email].font__size--12px::-webkit-input-placeholder,
input[type=password].font__size--12px::-webkit-input-placeholder {
  font-size: 12px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text.font__size--12px::-moz-placeholder,
input[type=text].font__size--12px::-moz-placeholder,
input[type=email].font__size--12px::-moz-placeholder,
input[type=password].font__size--12px::-moz-placeholder {
  font-size: 12px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text.font__size--12px:-moz-placeholder,
input[type=text].font__size--12px:-moz-placeholder,
input[type=email].font__size--12px:-moz-placeholder,
input[type=password].font__size--12px:-moz-placeholder {
  font-size: 12px;
}
/* line 4, ../sass/vendor/bourbon/css3/_placeholder.scss */
.input--text.font__size--12px:-ms-input-placeholder,
input[type=text].font__size--12px:-ms-input-placeholder,
input[type=email].font__size--12px:-ms-input-placeholder,
input[type=password].font__size--12px:-ms-input-placeholder {
  font-size: 12px;
}

/* line 109, ../sass/common/_form-element.scss */
input[type=text], textarea, input[type=password], input[type=email] {
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
  outline: none;
}

/* line 1, ../sass/common/_header.scss */
header {
  height: 60px;
  position: fixed;
  width: 90%;
  padding: 0 5%;
  z-index: 1000;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
/* line 9, ../sass/common/_header.scss */
header .logo a {
  float: left;
  color: #ffffff;
}
/* line 12, ../sass/common/_header.scss */
header .logo a span {
  margin-top: 15px;
  display: block;
  font-size: 29px;
  font-weight: 100;
}
/* line 18, ../sass/common/_header.scss */
header .logo a i {
  margin-right: 20px;
  font-size: 36px;
  margin-top: 12px;
  display: block;
}
/* line 28, ../sass/common/_header.scss */
header nav a.hamburger {
  color: #ffffff;
  margin-top: 18px;
  display: block;
  font-size: 24px;
  float: right;
}
/* line 36, ../sass/common/_header.scss */
header nav ul {
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
/* line 44, ../sass/common/_header.scss */
header nav li {
  float: left;
  width: 100%;
}
/* line 47, ../sass/common/_header.scss */
header nav li a {
  display: block;
  padding: 18px 0;
  text-align: center;
  color: #ffffff;
  font-size: 14px;
}
/* line 54, ../sass/common/_header.scss */
header nav li:last-child {
  margin-right: 0;
}

@media screen and (min-width: 761px) {
  /* line 61, ../sass/common/_header.scss */
  header {
    height: 90px;
    position: fixed;
    width: 95%;
    padding: 0 2.5%;
  }
  /* line 67, ../sass/common/_header.scss */
  header .logo a {
    float: left;
    font-size: 29px;
    font-weight: 100;
    color: #ffffff;
  }
  /* line 72, ../sass/common/_header.scss */
  header .logo a span {
    margin-top: 31px;
    display: block;
  }
  /* line 76, ../sass/common/_header.scss */
  header .logo a i {
    margin-right: 20px;
    font-size: 42px;
    margin-top: 24px;
    display: block;
  }
  /* line 85, ../sass/common/_header.scss */
  header nav ul {
    display: block;
    margin-top: -27px;
    position: relative;
    background-color: transparent;
  }
  /* line 91, ../sass/common/_header.scss */
  header nav li {
    float: left;
    margin-right: 30px;
    width: auto;
  }
  /* line 95, ../sass/common/_header.scss */
  header nav li a {
    font-weight: 600;
    padding: 0;
    color: #34495e;
    font-size: 14px;
  }
  /* line 100, ../sass/common/_header.scss */
  header nav li a:hover {
    border-bottom: 1px solid #34495e;
  }
  /* line 104, ../sass/common/_header.scss */
  header nav li:last-child {
    margin-right: 0;
  }
}
/* line 111, ../sass/common/_header.scss */
.selected {
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 114, ../sass/common/_header.scss */
.selected li a {
  color: #ffffff;
}
/* line 116, ../sass/common/_header.scss */
.selected li a:hover {
  border-bottom: 1px solid #ffffff;
}

@font-face {
  font-family: 'ebangla';
  src: url("../fonts/ebangla.eot?44ypy");
  src: url("../fonts/ebangla.eot?#iefix44ypy") format("embedded-opentype"), url("../fonts/ebangla.woff?44ypy") format("woff"), url("../fonts/ebangla.ttf?44ypy") format("truetype"), url("../fonts/ebangla.svg?44ypy#ebangla") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/common/_icon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'ebangla';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/common/_icon.scss */
.icon-facebook:before {
  content: "\e05d";
}

/* line 29, ../sass/common/_icon.scss */
.icon-googleplus:before {
  content: "\e05f";
}

/* line 32, ../sass/common/_icon.scss */
.icon-tumblr:before {
  content: "\e061";
}

/* line 35, ../sass/common/_icon.scss */
.icon-linkedin:before {
  content: "\e062";
}

/* line 38, ../sass/common/_icon.scss */
.icon-logo:before {
  content: "\e603";
}

/* line 41, ../sass/common/_icon.scss */
.icon-hamburger:before {
  content: "\e604";
}

/* line 44, ../sass/common/_icon.scss */
.icon-settings:before {
  content: "\e600";
}

/* line 47, ../sass/common/_icon.scss */
.icon-wheel:before {
  content: "\e601";
}

/* line 50, ../sass/common/_icon.scss */
.icon-hat:before {
  content: "\e602";
}

/* line 106, ../../../../../Ruby21/lib/ruby/gems/2.1.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 87.5%;
  line-height: 1.71429em;
}

/* line 5, ../sass/common/_typography.scss */
h1 {
  font-size: 3em;
  line-height: 1.14286em;
}

/* line 8, ../sass/common/_typography.scss */
h2 {
  font-size: 2.14286em;
  line-height: 1.6em;
}

/* line 11, ../sass/common/_typography.scss */
h3 {
  font-size: 1.71429em;
  line-height: 2em;
}

/* line 14, ../sass/common/_typography.scss */
h4 {
  font-size: 1.5em;
  line-height: 2.28571em;
}

/* line 17, ../sass/common/_typography.scss */
h5 {
  font-size: 1.28571em;
  line-height: 1.33333em;
}

/* line 20, ../sass/common/_typography.scss */
h6 {
  font-size: 1.14286em;
  line-height: 1.5em;
}

/* line 23, ../sass/common/_typography.scss */
p {
  font-size: 1em;
  line-height: 1.71429em;
}

/* line 29, ../sass/common/_typography.scss */
blockquote {
  font-size: 1.85714em;
  line-height: 1.84615em;
}

/* line 3, ../sass/page/_index.scss */
#feature .content__info__wrapper--full--no-padding {
  height: 50%;
}
/* line 6, ../sass/page/_index.scss */
#feature .v-image {
  position: absolute;
  bottom: -102%;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  width: 31%;
}
/* line 15, ../sass/page/_index.scss */
#feature .h-image {
  position: absolute;
  bottom: 0;
  left: 0;
  right: -100%;
  top: 0;
  margin: auto;
  width: 31%;
}

@media screen and (min-width: 761px) {
  /* line 28, ../sass/page/_index.scss */
  #feature .content__info__wrapper--full--no-padding {
    height: 100%;
    width: 50%;
  }
}
/* line 34, ../sass/page/_index.scss */
#about_us {
  background-image: url("../images/bg-1.jpg");
  background-repeat: none;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 40, ../sass/page/_index.scss */
#about_us .content__info__wrapper--onethird,
#about_us .content__info__wrapper--twothird {
  height: 100%;
}
/* line 45, ../sass/page/_index.scss */
#about_us i {
  height: 250px;
  left: 50%;
}
/* line 50, ../sass/page/_index.scss */
#about_us .content {
  width: 90%;
  height: 400px;
}

/* line 58, ../sass/page/_index.scss */
#service {
  position: relative;
}
/* line 61, ../sass/page/_index.scss */
#service .content {
  height: 350px;
}
/* line 64, ../sass/page/_index.scss */
#service .content i {
  font-size: 50px;
  display: inline-block;
  line-height: 0;
  width: 100%;
  text-align: center;
}
/* line 70, ../sass/page/_index.scss */
#service .content i.special {
  font-size: 70px;
}
/* line 74, ../sass/page/_index.scss */
#service .content p {
  padding: 0 5%;
}

/* line 80, ../sass/page/_index.scss */
#contact {
  background-color: #34495e;
  position: relative;
}
/* line 83, ../sass/page/_index.scss */
#contact .content {
  height: 350px;
}
/* line 86, ../sass/page/_index.scss */
#contact .content i {
  font-size: 50px;
  display: inline-block;
  line-height: 0;
  width: 100%;
  text-align: center;
}
/* line 92, ../sass/page/_index.scss */
#contact .content i.special {
  font-size: 70px;
}
