header {
	height: 60px;
	position: fixed;
	width: 90%;
	padding: 0 5%;
	z-index: 1000;
	@include transition(all 1.0s ease-in-out);
	.logo{
		a {
			float: left;
			color: $white;
			span {
				margin-top: 15px;
				display: block;
				font-size: 29px;
				font-weight: 100;
			}
			i { 
				margin-right: 20px;
				font-size: 36px;
				margin-top: 12px;
				display: block;
			}
		}
	}
	nav {
		a {
			&.hamburger {
				color: $white;
				margin-top: 18px;
				display: block;
				font-size: 24px;
				float: right;
			}
		}
		ul { 
			width: 100%;
			position: absolute;
			top: 60px;
			left: 0;
			background-color: rgba(#000000, .5);
			display: none;
		}
		li {
			float: left;
			width: 100%;
			a {
				display: block;
				padding: 18px 0;
				text-align: center;
				color: $white;
				font-size: 14px;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
@include responsive(desktop) {
	header {
		height: 90px;
		position: fixed;
		width: 95%;
		padding: 0 2.5%;
		.logo{
			a {
				float: left;
				font-size: 29px;
				font-weight: 100;
				color: $white;
				span {
					margin-top: 31px;
					display: block;
				}
				i { 
					margin-right: 20px;
					font-size: 42px;
					margin-top: 24px;
					display: block;
				}
			}
		}
		nav {
			ul { 
				display: block;
				margin-top: -27px;
				position: relative;
				background-color: transparent;
			 }
			li {
				float: left;
				margin-right: 30px;
				width: auto;
				a {
					font-weight: 600;
					padding: 0;
					color: $base_text;
					font-size: 14px;
					&:hover {
						border-bottom: 1px solid $base_text;
					}
				}
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
}
.selected {
	background-color: rgba(#000000,.5);
	li {
		a {
			color: $white;
			&:hover {
				border-bottom: 1px solid $white;
			}
		}
	}
}

