$base-font-size: 14px;
$base-line-height: 24px;
@include establish-baseline;

h1{
	@include adjust-font-size-to(42px);
}
h2{
	@include adjust-font-size-to(30px);
}
h3{
	@include adjust-font-size-to(24px);
}
h4{
	@include adjust-font-size-to(21px);
}
h5{
	@include adjust-font-size-to(18px);
}
h6{
	@include adjust-font-size-to(16px);
}
p{
	@include adjust-font-size-to(14px);
}


%font__margin--TopBottom0 { @include adjust-font-size-to(14px); }
blockquote {
	@include adjust-font-size-to(26px);
}


@include responsive(tab-landscape) {

}
@include responsive(tab-portrait) {
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 26px;
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 14px;
	}
	.font__size--16px {
	  font-size: 14px;
	}
	.font__size--24px {
		font-size: 22px;
	}

}